@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";
@import "elr-scss-accordion/src/main";

@mixin elr-faqs($config: ()) {
  $config: extend(
    (
      term-color: $primary-color,
    ),
    $config
  );

  $term-color: map-get($config, term-color);

  padding: ($base-fontsize * 2) 0;

  .faq {
    border-top: $border;
    padding: ($base-fontsize * 2) ($base-fontsize * 0.5);
    margin: 0;

    &:first-child {
      border-top: 0;
    }

    dt {
      font-size: $base-fontsize * 1.5;
      font-weight: 900;
      margin: 0;
      padding: 0;
      margin-bottom: $base-fontsize;
      color: $term-color;
    }

    dd {
      padding: 0;
      margin: 0;

      p:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

@mixin faq-accordion($config: ()) {
  $config: extend(
    (
      term-color: $primary-color,
    ),
    $config
  );

  $term-color: map-get($config, term-color);

  @include elr-accordion;

  dt {
    font-size: $base-fontsize * 1.5;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: $term-color;
  }

  .faq {
    margin: 0;
    padding: 0;
  }

  dd {
    padding: 0;
    margin: 0;

    div {
      padding: 0;
      margin: 0;
    }

    p:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
