@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";
@import "elr-scss-accordion/src/main";

@mixin elr-faqs($config: ()) {
  $config: extend(
    (
      term-color: $primary-color,
    ),
    $config
  );

  $term-color: map-get($config, term-color);

  padding: ($base-fontsize * 2) 0;

  h2 {
    font-weight: 900;
    font-size: $base-fontsize * 1.5;
    color: $secondary-color-dark;
    border-bottom: $border;
    margin-bottom: 8px;
  }

  .faq {
    border-top: $border;
    padding: ($base-fontsize * 2) ($base-fontsize * 0.5);
    margin: 0;

    &:first-child {
      border-top: 0;
    }

    dt {
      font-size: $base-fontsize * 1.5;
      font-weight: 900;
      margin: 0;
      padding: 0;
      margin-bottom: $base-fontsize;
      color: $term-color;
    }

    dd {
      padding: 0;
      margin: 0;

      p:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

@mixin faq-accordion($config: ()) {
  $config: extend(
    (
      term-color: $primary-color,
      border-radius: $border-radius,
      color: $white,
      border-color: $light-gray,
      icon-color: $primary-color,
      spacing: 8px,
    ),
    $config
  );

  $term-color: map-get($config, term-color);
  $border-radius: map-get($config, border-radius);
  $color: map-get($config, color);
  $border-color: map-get($config, border-color);
  $icon-color: map-get($config, icon-color);
  $spacing: map-get($config, spacing);
  $border: 1px solid $border-color;

  h2 {
    font-weight: 900;
    font-size: $base-fontsize * 1.5;
    color: $secondary-color-dark;
    border-bottom: $border;
    margin-bottom: $base-fontsize * 1.5;

    @if ($border-color == none) {
      border-bottom: 1px solid $light-gray;
    }
  }

  dl {
    @include elr-accordion(
      $config: (
        label-color: $term-color,
        border-radius: $border-radius,
        color: $color,
        border-color: $border-color,
        icon-color: $icon-color,
        spacing: $spacing,
      )
    );

    @if ($spacing == 0) {
      .accordion-label,
      .accordion-label:last-of-type:not(.active) {
        border-bottom: 0;
        border-radius: 0;
      }

      .accordion-content {
        border: 0;
        border-top: 1px solid $border-color;
      }

      .accordion-label.active {
        border-radius: 0;
      }

      .accordion-content {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-bottom: 0;
        border-radius: 0;
      }

      .accordion-content.active:last-child {
        border-radius: 0;
        border-bottom: 0;
      }

      .faq:first-child {
        .accordion-label:first-of-type:not(.active),
        .accordion-label:first-of-type.active {
          border-radius: $border-radius $border-radius 0 0;
        }
      }

      .faq:last-child {
        .accordion-label:not(.active) {
          border: 1px solid $border-color;
          border-radius: 0 0 $border-radius $border-radius;
        }
        .accordion-content.active {
          border-bottom: 1px solid $border-color;
          border-radius: 0 0 $border-radius $border-radius;
        }
      }
    }

    dt {
      font-weight: 900;
      margin: 0;
      padding: 0;

      button {
        color: $term-color;
        font-size: 18px;
      }
    }

    .faq {
      margin: 0;
      padding: 0;
    }

    dd {
      padding: 0;
      margin: 0;

      div {
        padding: 0;
        margin: 0;
      }

      p:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

@mixin elr-faq-section-inline($config: ()) {
  $config: extend(
    (
      term-color: $primary-color,
      heading-color: $secondary-color-dark,
      border-color: $light-gray,
    ),
    $config
  );

  $term-color: map-get($config, term-color);
  $heading-color: map-get($config, heading-color);
  $border-color: map-get($config, border-color);
  $border: 1px solid $border-color;

  max-width: 10$base-fontsize * 1.5;

  h2 {
    font-weight: 900;
    font-size: $base-fontsize * 1.5;
    color: $heading-color;
    border-bottom: $border;
    margin-bottom: $base-fontsize * 1.5;
  }

  .faq {
    display: flex;

    dt {
      flex: 1;
      font-size: 20px;
      color: $term-color;
      font-weight: 900;
    }

    dd {
      flex: 2;
    }
  }
}

@mixin elr-faq-section-grid($config: ()) {
  $config: extend(
    (
      term-color: $primary-color,
      heading-color: $secondary-color-dark,
      border-color: $light-gray,
    ),
    $config
  );

  $term-color: map-get($config, term-color);
  $heading-color: map-get($config, heading-color);
  $border-color: map-get($config, border-color);
  $border: 1px solid $border-color;

  h2 {
    font-weight: 900;
    font-size: $base-fontsize * 1.5;
    color: $heading-color;
    border-bottom: $border;
    margin-bottom: $base-fontsize * 1.5;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
  }

  .faq {
    flex-basis: 50%;
    padding: 0 ($base-fontsize * 2);

    dt {
      font-size: $base-fontsize * 1.5;
      margin-bottom: $base-fontsize;
      color: $term-color;
      font-weight: 900;
    }
  }
}
